@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal
<h4>Add a new animal for adoption!</h4>

@using (Html.BeginForm())
{
     @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <hr>
     @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <hr>
     @Html.LabelFor(model => model.Species)
     <input type = "text" list = "Species" name="Species"> 
      <datalist id = "Species">
        <option value = "Dog">
        <option value = "Cat">
        <option value = "Bird">
        <option value = "Rabbit">
      </datalist>
    <hr>
     @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed)
    <hr>
    @Html.LabelFor(model => model.Gender)
    <select name="Gender" id="Gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
    <hr>
     @Html.LabelFor(model => model.Date)
    <!-- @Html.TextBoxFor(model => model.Date) -->
    <input type="date" name="Date">
   
    <hr>
    <input type="submit" value="Add new Animal"/>
    
}

<p>@Html.ActionLink("Show all animals", "Index")</p>